.container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
#card{

    max-width: 220px;
    min-height: 200px;
}

#img{
    width:220px;
    height: 180px;
    object-fit: fill;

}

#quote{
    font-size: large;
}