#container{
background-color:#ff1493;
border-top :11px solid black;
display: flex;
color:white;
align-items: center;
justify-content: space-between;
border-radius: 300px;
}
nav{
    width:500px;
    margin-left: 300px;
    text-transform: uppercase;
    font-weight: bold;
    
}
nav ul{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    padding-top: 10px;

}
#home{
    color: chartreuse;
    text-decoration: none;
}
.links{
    color: white;
}

.links:hover{
    text-decoration: none;
    color: chartreuse;
}